body{
  font-family:sans-serif;
  background:#e0cf96;
}
.cookiecc{
 border-radius:25px;
 border:6px white;
 border-style:dotted;
}
h1{
 color:grey;
 height:60px;
 width:650px;
 background:white;
 border-radius:5px;
}