 
body{
  background:#c8a190;
  font-family:sans-serif;
}
.thewitchersandwich{
 border-radius:25px;
 border:5px white;
 border-style:dotted;
}
h1{
 color:;
 height:50px;
 width:550px;
 background:white;
 border-radius:2px;
}
.container-all{
  border-radius:10px;
  width:750px;
  height:800px;
  background:grey;
}





